<ion-content>
  <app-encabezado title="Películas de este mes"></app-encabezado>
  <app-slide-backdrop [peliculas]="peliculasRecientes" 
                      [slideOpts]="slideOpts">
  </app-slide-backdrop>
  <app-encabezado title="Cartelera"></app-encabezado>
  <app-slide-show-poster [peliculas]="peliculasPoster" 
                         [slideOpts]=" slideOptsPoster">
  </app-slide-show-poster>
  <app-encabezado title="Populares"></app-encabezado>
  <app-slide-show-pares [peliculas]="populares" 
                         [slideOpts]=" slideOptsPoster">
  </app-slide-show-pares>
</ion-content>
